<div class="container">
  <div class="composition-index">
    <h1 id="compositions-title"><i class="fa-solid fa-file-audio"></i>&nbsp &nbsp Mes Compositions</h1>

    <ul class="composition-list">
      <% @compositions.compact.sort_by(&:created_at).reverse.each do |composition| %>
      <% next if composition.nil? || !composition.persisted? %>
        <li class="composition-item">
          <div class="composition-info">
            <!-- Titre -->
            <h2><%= link_to composition.title, composition_path(composition), data: { turbo: false } %></h2>

            <!-- Sous-titre : tonalité et humeur -->
            <div class="composition-subtitle">
              <span class="badge">
                <i class="fa-solid fa-music icon-music"></i>
                <%= composition.key_signature %>  <!-- Affichage de la tonalité -->
              </span>
              <span class="badge tonalite-badge">
                <i class="fa-solid <%= composition.mood == 'majeur' ? 'fa-sun major' : 'fa-cloud-rain minor' %> icon-tonalite"></i>
              </span>
            </div>

          <div class="composition-meta-line centered-meta">
            <i class="fa-solid fa-calendar-days meta-icon"></i>
            <span><%= composition.created_at.strftime("%d/%m/%Y") %></span>
          </div>
          <!-- Partie audio -->
          <% if composition.audio.attached? %>
            <audio controls class="composition-audio">
              <source src="<%= url_for(composition.audio) %>" type="audio/mpeg">
              Ton navigateur ne supporte pas l’audio.
            </audio>
          <% else %>
            <p class="no-audio">🚫 Pas de fichier audio disponible.</p>
          <% end %>

          <!-- Menu déroulant avec trois points -->
          <div class="dropdown">
            <button class="dropdown-btn">⋮</button> <!-- Trois points -->
            <div class="dropdown-content">
              <%= link_to 'Éditer', composition_path(composition), class: 'dropdown-item' %>
              <% if composition && composition.audio.attached? %>
              <%= link_to 'Télécharger', url_for(composition.audio), class: 'dropdown-item', download: composition.title %>
              <% end %>
              <%= form_with model: composition, method: :delete, local: true,
                           data: { turbo: false, confirm: "Es-tu sûr de vouloir supprimer cette composition ?" } do %>
                <button type="submit" class="dropdown-item">Supprimer</button>
              <% end %>
            </div>
          </div>


    <% end %>
  </li>
            <li class="composition-item">
            <%= link_to new_composition_path, class: 'add-composition-card' do %>
            <div class="add-composition-content">
              <div class="big-plus"> + </div>
              <p class="creer">Créer une nouvelle composition</p>
            </div>

        </li>
      <% end %>
    </ul>
  </div>
</div>


<%# ><i class="fa-solid fa-plus"> %>
