<div class="container">
  <div class="form text-white">
    <%= simple_form_for(@composition) do |f| %>
      <%= f.input :title %>
      <%= f.input :key_signature %>
      <%= f.input :style %>
      <%= f.submit %>
    <% end %>

  </div>

</div>
