<%= content_for :standalone_layout do %>
<div class="main-wrapper">
<div class="composition-new-container">
  <h2><i class="fa-solid fa-sliders"></i>&nbsp &nbsp Configure ta composition!</h2>

  <%= simple_form_for(@composition) do |f| %>

    <div class="form-inputs composition-item">
      <%= f.input :title, label: "Titre de la composition" %>

      <%= f.input :key_signature,
                  label: "Note de départ (tonalité)",
                  as: :select,
                  input_html: { class: "form-control" },
                  collection: %w[DO DO# RE RE# MI FA FA# SOL SOL# LA LA# SI],
                  prompt: "Choisir une note" %>

      <%= f.input :mood,
                  label: "Humeur musicale",
                  as: :select,
                  input_html: { class: "form-control" },
                  collection: [["😄 Heureux (majeur)", "majeur"], ["😔 Triste (mineur)", "mineur"]],
                  prompt: "Choisir une humeur" %>

      <%= f.input :style,
            label: "Instrument principal",
            as: :select,
            input_html: { class: "form-control" },
            collection: [["🎹 Piano", "Piano"], ["🎸 Guitare", "Guitare"]],
            prompt: "Choisir un instrument" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Enregistrer la composition", class: "btn-submit pulse" %>
    </div>
  <% end %>
</div>

</div>
<% end %>
