<div class="composition"
     data-controller="recording timeline playback upload"
     data-recording-composition-id-value="<%= @composition.id %>"
     data-timeline-composition-id-value="<%= @composition.id %>"
     data-playback-composition-id-value="<%= @composition.id %>"
     data-upload-url-value="<%= save_audio_composition_path(@composition) %>">

  <ul>
    <li><h1><%= @composition.title %></h1></li>
  </ul>

  <div class="badges-container">
    <span class="badge">
      <i class="fa-solid fa-music"></i>
      <%= @composition.key_signature %>
    </span>
    <span class="badge">
      <i class="fa-solid <%= @composition.mood == 'majeur' ? 'fa-sun' : 'fa-cloud-rain' %>"></i>
      <%= @composition.mood.capitalize %>
    </span>
  </div>

  <% if @composition.challenge_description.present? %>
    <p class="challenge-description text-bright">
      <i class="fa-solid fa-bolt"></i> <%= @composition.challenge_description %>
    </p>
  <% end %>

  <div id="records">
    <button data-recording-target="record" data-action="click->recording#startRecording">
      <i class="fa-solid fa-record-vinyl"></i>&nbsp Enregistrer
    </button>

    <button data-recording-target="stop" data-action="click->recording#stopRecording">
      <i class="fa-solid fa-stop"></i>&nbsp Stop
    </button>

    <audio controls
          data-recording-target="audio"
          data-upload-target="audio">
    </audio>

    <a href="#" download data-recording-target="download">
      <i class="fa-solid fa-download"></i>&nbsp Télécharger
    </a>

    <button data-upload-target="save"
            data-action="click->upload#save">
      <i class="fa-solid fa-floppy-disk"></i>&nbsp Sauvegarder
    </button>
  </div>

  <div class="composition players">
    <% audio_files = [
      { src: "/audios/Do-Lam/Do7.mp3", id: "snd1" },
      { src: "/audios/Do-Lam/Fa.mp3", id: "snd2" },
      { src: "/audios/Do-Lam/Lam7.mp3", id: "snd3" },
      { src: "/audios/Do-Lam/Mi m.mp3", id: "snd4" },
      { src: "/audios/Do-Lam/Ré m.mp3", id: "snd5" },
      { src: "/audios/Do-Lam/Sim5-.mp3", id: "snd6" },
      { src: "/audios/Do-Lam/Sol.mp3", id: "snd7" },
      { src: "/audios/Sol-Mim/Do7.mp3", id: "snd8" },
      { src: "/audios/Sol-Mim/Lam7.mp3", id: "snd10" },
      { src: "/audios/Sol-Mim/Mim.mp3", id: "snd11" },
      { src: "/audios/Sol-Mim/Ré7.mp3", id: "snd12" },
      { src: "/audios/Sol-Mim/Sim7.mp3", id: "snd13" },
      { src: "/audios/Sol-Mim/Solmaj7.mp3", id: "snd14" }
    ] %>

    <div class="ma-compo">
      <ul id="selected-order" data-timeline-target="selectedList">
        <!-- La liste sera remplie dynamiquement -->
      </ul>

      <div class="composition-actions">
        <button class="button pulse btn-pulse" data-action="click->playback#playSequence">
          <i class="fa-solid fa-play"></i> Jouer ma composition
        </button>
        <button class="button pulse" data-action="click->playback#pauseSequence">
          <i class="fa-solid fa-pause"></i> Pause
        </button>
        <button class="button pulse" data-action="click->timeline#resetOrder">
          <i class="fa-solid fa-rotate-right"></i> Réinitialiser
        </button>
      </div>
    </div>

    <div class="accords">
      <h3>Accords à ajouter</h3>
      <ul id="sample-list" data-timeline-target="sampleList" data-action="click->timeline#addToOrder">
        <% audio_files.each do |audio| %>
          <% filename = File.basename(audio[:src], File.extname(audio[:src])) %>

          <% show_accord =
              case @composition.key_signature.downcase
              when 'do', 'la' then audio[:src].include?('Do-Lam')
              when 'sol', 'mi' then audio[:src].include?('Sol-Mim')
              else false
              end %>

          <% if show_accord %>
            <li>
              <div class="sample-container">
                <button class="audio-button"
                    data-controller="note"
                    data-action="click->note#toggle"
                    data-audio-id="<%= audio[:id] %>">
              <i class="fa-solid fa-circle-play"></i>
              <div><%= filename %></div>
            </button>
                <button class="add-to-order" data-audio-id="<%= audio[:id] %>">+</button>
                <audio id="<%= audio[:id] %>">
                  <source src="<%= audio[:src] %>" type="audio/mp3">
                </audio>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
