<%= javascript_include_tag 'upload_recording', 'data-turbo-track': 'reload' %>
<%= javascript_include_tag 'compositions_show', 'data-turbo-track': 'reload' %>


<% if params[:reload] %>
  <script>
    window.location.href = window.location.href.split("?")[0];
  </script>
<% end %>


<div class="composition" data-composition-id="<%= @composition.id %>">
  <div>
    <ul>
      <li><h1><%= @composition.title %></h1></li>
        <div class="badges-container">
          <span class="badge">
            <i class="fa-solid fa-music"></i>
            <%= @composition.key_signature %>
          </span>
          <span class="badge">
            <i class="fa-solid <%= @composition.mood == 'majeur' ? 'fa-sun' : 'fa-cloud-rain' %>"></i>
            <%= @composition.mood.capitalize %>
        </span>
      </div>
    </ul>
  </div>

  <div id="records">
    <button id="record" aria-label="Démarrer l'enregistrement"><i class="fa-solid fa-record-vinyl"></i>&nbsp Enregistrer</button>
    <button id="stop" aria-label="Arrêter l'enregistrement"><i class="fa-solid fa-stop"></i>&nbsp Stop</button>
    <audio controls></audio>
    <a id="download" href="" download aria-label="Télécharger l'enregistrement"><i class="fa-solid fa-download"></i>&nbsp Télécharger</a>
    <button id="save-recording" data-url="<%= save_audio_composition_path(@composition) %>" aria-label="Sauvegarder l'enregistrement">
      <i class="fa-solid fa-floppy-disk"></i></i>&nbsp Sauvegarder
    </button>
  </div>

  <div class="composition players">
    <% audio_files = [
      { src: "/audios/Do-Lam/Do7.mp3", id: "snd1" },
      { src: "/audios/Do-Lam/Fa.mp3", id: "snd2" },
      { src: "/audios/Do-Lam/Lam7.mp3", id: "snd3" },
      { src: "/audios/Do-Lam/Mi m.mp3", id: "snd4" },
      { src: "/audios/Do-Lam/Ré m.mp3", id: "snd5" },
      { src: "/audios/Do-Lam/Sim5-.mp3", id: "snd6" },
      { src: "/audios/Do-Lam/Sol.mp3", id: "snd7" },
      { src: "/audios/Sol-Mim/Do7.mp3", id: "snd8" },
      { src: "/audios/Sol-Mim/Lam7.mp3", id: "snd10" },
      { src: "/audios/Sol-Mim/Mim.mp3", id: "snd11" },
      { src: "/audios/Sol-Mim/Ré7.mp3", id: "snd12" },
      { src: "/audios/Sol-Mim/Sim7.mp3", id: "snd13" },
      { src: "/audios/Sol-Mim/Solmaj7.mp3", id: "snd14" }
    ] %>

    <div class="ma-compo">
      <ul id="selected-order">
        <!-- La liste sera remplie dynamiquement par JavaScript -->
      </ul>
      <div class="composition-actions">
        <button class="button pulse btn-pulse" id="play-sequence">
          <i class="fa-solid fa-play"></i> Jouer ma composition
        </button>
        <button class="button pulse" id="pause-sequence">
          <i class="fa-solid fa-pause"></i> Pause
        </button>
        <button class="button pulse" id="reset-order">
          <i class="fa-solid fa-rotate-right"></i> Réinitialiser
        </button>
      </div>
    </div>

   <div class="accords">
      <h3>Accords à ajouter</h3>
      <ul id="sample-list">
        <% audio_files.each do |audio| %>
          <% filename = File.basename(audio[:src], File.extname(audio[:src])) %>

          <% if @composition.key_signature == 'DO' || @composition.key_signature == 'do' %>
            <% show_accord = audio[:src].include?('Do-Lam') %>
          <% elsif @composition.key_signature == 'SOL' || @composition.key_signature == 'sol' %>
            <% show_accord = audio[:src].include?('Sol-Mim') %>
          <% elsif @composition.key_signature == 'MI' || @composition.key_signature == 'mi' %>
            <% show_accord = audio[:src].include?('Sol-Mim') %>
          <% elsif @composition.key_signature == 'LA' || @composition.key_signature == 'la' %>
            <% show_accord = audio[:src].include?('Do-Lam') %>
          <% else %>
            <% show_accord = false %>
          <% end %>

         <% if show_accord %>
          <li>
            <div class="sample-container">
              <button class="audio-button" data-audio-id="<%= audio[:id] %>">
                <i class="fa-solid fa-circle-play"></i>
                <div><%= filename %></div>
              </button>
              <button class="add-to-order" data-audio-id="<%= audio[:id] %>">+</button>
              <audio id="<%= audio[:id] %>">
                <source src="<%= audio[:src] %>" type="audio/mp3">
              </audio>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>
</div>
</div>
