<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/doxv7g7oq/image/upload/v1742588414/Color%C3%A9_Son_Vagues_Musique_App_Logo-removebg-preview_djm51j.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to root_path, class: "nav-link" do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <li class="nav-item" id="my-profil">
            <%= link_to new_composition_path, class: "nav-link" do %>
              <i class="fa-solid fa-music"></i> Create
            <% end %>
                <li class="nav-item dropdown">
                  <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                   <%= image_tag "https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y.", class: "avatar", alt: "dropdown menu" %>
                  </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <li><%= link_to "My profil", "#", class: "dropdown-item" %></li>
                  <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
                </ul>
               </li>
            </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link", id: "login" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
