<div class="container">
  <div class="composition-index" >
    <h1 class="challenge-title" id="challenges-index">
     <i class="fa-solid fa-trophy"></i>&nbsp;&nbsp;Relève un défi !
    </h1>

    <div class="challenge-cont">
      <% if @current_challenge %>
        <%= link_to challenge_path(@current_challenge), class: "challenge-link" do %>
          <div class="challenge-card composition-item full-card-link">
            <h3><%= @current_challenge.title %></h3>
            <p><%= @current_challenge.description %></p>

            <span class="difficulty-badge <%= @current_challenge.difficulty.downcase %>">
              Difficulté : <%= @current_challenge.difficulty %>
            </span>
          </div>
        <% end %>
      <% else %>
        <p class="no-challenge">Aucun défi disponible pour le moment.</p>
      <% end %>
    </div>
  </div>
</div>
