
<div class="composition">
  <h1><%= @challenge.title %></h1>
<div class="challenge-info-card">

  <p><%= @challenge.description %></p>
  <span class="difficulty-badge <%= @challenge.difficulty.downcase %>">
  Difficulté : <%= @challenge.difficulty %>
</span>
</div>



<%= render 'shared/audio_composer', composition: @composition %>

</div>
