<!DOCTYPE html>
<html>
  <head>
    <title>MelodyMentor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body>
  <%= render "shared/menu" %>

  <% if content_for?(:standalone_layout) %>
    <main class="p-4" style="margin-left: 4px;">
      <%= yield :standalone_layout %>
    </main>
  <% else %>
    <main class="container-fluid p-4" style="margin-left: 115px;">
      <div class="d-flex justify-content-center align-items-center min-vh-100">
        <%= yield %>
      </div>
    </main>
  <% end %>
</body>
</html>
