<!DOCTYPE html>
<html>
  <head>
    <title>MelodyMentor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body>
  <div class="side-menu">
  <% if current_page?(root_path) %>
    <%= render "shared/menu" %>
  <% else %>
    <%= render "shared/menu" %>
  <% end %>
</div>

  <div class="main-content">
    <% if content_for?(:standalone_layout) %>
      <main class="p-4">
        <%= yield :standalone_layout %>
      </main>
    <% else %>
      <main class="container-fluid">
        <div class="d-flex">
          <%= yield %>
        </div>
      </main>
    <% end %>
  </div>
</body>
</html>
